@use 'sass-mq/mq';

.card {
    background-color: #FFFFFF;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1);


    margin-bottom: var(--block-margin);
    padding: 10px 20px;
    position: relative;

    &__icon {
        position: absolute;
        top: 20px;
        right: 20px;
        max-width: 60px;
        max-width: clamp(40px, 5vw, 60px);
    }

    &--opacity {
        background: rgba(255, 255, 255, 0.9);

    }


    &--md-padding {
        padding: 20px;
    }

    &--big-padding {
        padding: 40px 60px;
    }
}
.card-ghost {
    padding: 0 20px;
}