@use 'sass-mq/mq';

.product {
    $p: &;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 100px;
    grid-template-areas: 
        "c i"
        "l i";

    padding-top: 40px;
    position: relative;

    &__content {
        grid-area: c;

        position: relative;
        z-index: 1;
    }
    &__media {
        grid-area: i;

        display: flex;
        align-items: flex-end;

        transition: transform .5s;

        @include mq.mq(lg) {
            #{$p}--4210 & {
                transform: scale(1.15);
                transform-origin: bottom;
            }
        }
    }
    &__label {
        grid-area: l;

        img {
            max-height: 100%;
        }
    }

    p {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    
    &__title {
        color: var(--color-red);
        margin-bottom: 0 !important;

        a {
            color: inherit;
            text-decoration: none;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 10;
            }
        }
    }

    &__price {
        color: var(--color-red);
        font-size: 20px;
    }

    &__info {
        color: var(--color-gray);
    }
}