<section>
    <div class="container">
        <div class="section-header">
            <div>
                <h3>Готовый комплект от одного поставщика</h3>
                <p>Базовая комплектация — КСО, стойка настольная, крепления для ФР и пинпада, фонарь</p>
            </div>
            <div class="section-header__tag">Устройство КСО АТОЛ</div>
        </div>

        <div>
            <div>Лампа-индикатор для удобства покупателей</div>
            <div>Яркий экран, устойчивый к царапинам и сколам</div>
            <div>Антивандальное исполнение. Качественная сборка и материалы корпуса</div>
            <div>Полная совместимость с ПО для самообслуживания Frontol Selfie и ICS</div>
            <div>8 функциональных отверстий для крепления кассовой техники</div>
            <div>Долгий срок службы за счет промышленных комплектующих и продуманной системы охлаждения</div>
            <div>Простой доступ к элементам управления с фронтальной панели</div>
            <div>Блочная конструкция внутренних элементов. 3 мин. на сервис и касса продолжит работу! Обслуживание на месте без забора оборудования</div>
            <div>Встроенный сканер. Время отклика — 6 мс.</div>
            <div>Инсталляционное оборудование на выбор: настольная стойка, напольная стойка, тумба</div>
        </div>

    </div>
</section>