<section class="pb-0" id="about">
    <div class="container">
        <div class="section-header">
            <div>
                <h3>Готовый комплект от одного поставщика</h3>
                <p>Базовая комплектация — КСО, стойка настольная, крепления для ФР и пинпада, фонарь</p>
            </div>
            <div class="section-header__tag">Устройство КСО АТОЛ</div>
        </div>
    </div>
</section>

<section class="section-device">
    <div class="container">
        <div class="device-scroll-info">
            <span>Скролл вправо</span>
            <img src="img/Arrow_3.svg" alt="" />
        </div>
        <div class="device">
            <img src="img/RCJ.jpg" alt="Устройство КСО АТОЛ" id="device-img">
            <div class="point point--line pos-1"></div>
            <div class="point point--line pos-2"></div>
            <div class="point point--line pos-3"></div>
            <div class="point point--line pos-4"></div>
            <div class="point point--line pos-5"></div>
            <div class="point point--line pos-6"></div>
            <div class="point point--line pos-7"></div>
            <div class="point point--line pos-8"></div>
            <div class="point point--line pos-9"></div>
            <div class="point point--line pos-10"></div>


            <div class="device__info device__info--1">
                <p>Лампа-индикатор для удобства покупателей</p>
            </div>
            <div class="device__info device__info--2">
                <p>Яркий экран, устойчивый к царапинам и сколам</p>
            </div>
            <div class="device__info device__info--3">
                <p>Антивандальное исполнение. Качественная сборка и материалы корпуса</p>
            </div>
            <div class="device__info device__info--4">
                <p>Полная совместимость с ПО для самообслуживания Frontol Selfie и ICS</p>
            </div>
            <div class="device__info device__info--5">
                <p>8 функциональных отверстий для крепления кассовой техники</p>
            </div>
            <div class="device__info device__info--6">
                <p>Долгий срок службы за счет промышленных комплектующих и продуманной системы охлаждения</p>
            </div>
            <div class="device__info device__info--7">
                <p>Простой доступ к элементам управления с фронтальной панели</p>
            </div>
            <div class="device__info device__info--8">
                <p>Блочная конструкция внутренних элементов. 3 мин. на сервис и касса продолжит работу! Обслуживание на месте без забора оборудования</p>
            </div>
            <div class="device__info device__info--9">
                <p>Встроенный сканер. Время отклика — 6 мс.</p>
            </div>
            <div class="device__info device__info--10">
                <p>Инсталляционное оборудование на выбор: настольная стойка, напольная стойка, тумба</p>
            </div>
        </div>

    </div>
</section>