<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 d-flex">
                <div class="action-item action-item--bg-dark hover-up">
                    <div class="action-item__content">
                        <p class="h3">ПО для касс самообслуживания АТОЛ Frontol Selfie&nbsp;— БЕСПЛАТНО*</p>
                        <p><a class="btn btn--outline js-modal" href="#isc" role="button">Подробнее</a></p>
                        <p class="mt-a"><small>* На первый год работы, со второго года- тарификация по прайс-листу. Предложение действует на позиции «Оборудование с ПО».</small></p>
                    </div>
                    <div class="action-item__media">
                        <img src="img/DSC_1573_01_4.png" alt="">
                    </div>
                    <div class="action-item__ad">ООО «АТОЛ», ОГРН 1165010050590. Реклама<br />erid: 3apb1Qrwwr2uBg1EEWBRSRsm4xoEH7BZDsDnCGWvdxZF3</div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6 d-flex">
                <div class="action-item action-item--bg-light hover-up">
                    <div class="action-item__content">
                        <hr />
                        <p class="h3 fw-800">Акция:</p>
                        <p class="h3 fw-800">ПО Frontol Selfie БЕСПЛАТНО на&nbsp;год в комплекте с&nbsp;КСО&nbsp;АТОЛ</p>
                        <p class="mt-a"><small>* На первый год работы, со второго года - тарификация по прайс-листу. Предложение действует на позиции «Оборудование с ПО».</small></p>
                    </div>
                    <div class="action-item__media">
                        <img src="img/DSC_5601_03.png" alt="">
                    </div>
                    <div class="action-item__ad">ООО «АТОЛ», ОГРН 1165010050590. Реклама<br />erid: 3apb1Qrwwr2uBg1FYLcNf4E1EiCLsTJVJobxgFynvhFyS </div>
                </div>
            </div>
        </div>
    </div>
</section>