<section>
    <div class="container">
        <div class="section-header">
            <h3>Увеличивает товарооборот <br />и снижает затраты магазина</h3>
            <div class="section-header__tag">Преимущества сервиса АТОЛ</div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card card--hover-up">
                    <p class="h2">12 <sup>месяцев</sup></p>
                    <p>Срок окупаемости — снижает затраты на ФОТ: 1 ассистент вместо 6 кассиров</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card--hover-up">
                    <p class="h2">&gt;120 000 <sup>руб.</sup></p>
                    <p>Дополнительной экономии на затратах в год</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card--hover-up">
                    <p class="h2">&gt;0.0 <sup>руб.</sup></p>
                    <p>Без увеличения затрат на IT-поддержку — простая настройка и интеграция ПО</p>
                </div>
            </div>
        </div>

    </div>
</section>