<section id="business">
    <div class="container">
        <div class="section-header">
            <h3>Подберите решение под свой тип бизнеса</h3>
            <div class="section-header__tag">Кому подойдет КСО АТОЛ</div>
        </div>

        <div class="tabs-nav">
            <a href="">СУПЕРМАРКЕТ</a>
            <a href="">МИНИМАРКЕТ / МАГАЗИН У ДОМА</a>
        </div>

    </div>
</section>

<div class="tabs-holder">
    <div class="tabs-item">
        <div class="container">
            <div class="card card--opacity">
                <p class="color-red">Средний бизнес, сетевая и несетевая розница (от 5–50 магазинов, от 500 м2, от 2000 SKU)</p>
                <ul>
                    <li>Перегруженный кассовый узел в период повышенного спроса, часто образуются очереди</li>
                    <li>Невозможно оптимально распределить нагрузку на кассиров</li>
                    <li>Большой ФОТ на кассиров</li>
                    <li>Покупатель выбирает конкурентов с более быстрым обслуживанием</li>
                </ul>
            </div>
        </div>

        {% include "pricelist.twig" %}
        {% include "statistics.twig" %}
    </div>

    <div class="tabs-item">
        <div class="container">
            <div class="card card--opacity">
                <p class="color-red">Малый бизнес (до 10 магазинов)</p>
                <ul>
                    <li>Небольшая торговая площадь. Невозможно поставить дополнительный кассовый узел</li>
                    <li>Нет бюджета на расширение ФОТ кассирам при росте трафика</li>
                    <li>Очереди в пиковые часы</li>
                    <li>Работа кассира 24\7</li>
                </ul>
            </div>
        </div>

        {% include "statistics-2.twig" %}
    </div>
</div>