<section id="catalog">
    <div class="container">
        <div class="section-header">
            <div>
                <h3>Подберите решение под свой тип бизнеса</h3>
                <p>От маленькой точки до федерального ритейла</p>
            </div>
            <div class="section-header__tag">Варианты КСО АТОЛ</div>
        </div>

        <div class="swiper-navigation">
            <div class="swiper-button-prev catalog-button-prev"></div>
            <div class="swiper-button-next catalog-button-next"></div>
        </div>

        <div class="swiper flex-swiper catalog-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card product hover-scale">
                        <div class="product__content">
                            <h4 class="product__title"><a href="https://www.atol.ru/catalog/atol-kso-3210/" target="_blank">АТОЛ&nbsp;КСО&nbsp;3210</a></h4>
                            <p>Компактная и эргономичная</p>
                            <p class="product__info">диагональ 21,5”</p>
                            <p class="product__price">от 125 000 руб.</p>
                        </div>
                        <div class="product__media">
                            <img src="img/image_34.jpg" alt="">
                        </div>
                        <div class="product__label">
                            <img src="img/compatible.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card product hover-scale product--4210">
                        
                        <div class="product__content">
                            <h4 class="product__title"><a href="https://www.atol.ru/catalog/atol-kso-4210/" target="_blank">АТОЛ&nbsp;КСО&nbsp;4210</a></h4>
                            <p>Продвинутый уровень</p>
                            <p class="product__info">диагональ 21,5”</p>
                            <p class="product__price">от 173 000 руб.</p>
                        </div>
                        <div class="product__media">
                            <img src="img/image_34-1.jpg" alt="">
                        </div>
                        <div class="product__label">
                            <img src="img/compatible.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card product hover-scale">
                        <div class="product__content">
                            <h4 class="product__title"><a href="https://www.atol.ru/catalog/atol-kso-4271/" target="_blank">АТОЛ&nbsp;КСО&nbsp;4271</a></h4>
                            <p>Для любого масштаба</p>
                            <p class="product__info">диагональ 27”</p>
                            <p class="product__price">от 267 650 руб.</p>
                        </div>
                        <div class="product__media">
                            <img src="img/image_34-2.jpg" alt="">
                        </div>
                        <div class="product__label">
                            <img src="img/compatible.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card product hover-scale">
                        <div class="product__content">
                            <h4 class="product__title"><a href="https://www.atol.ru/catalog/atol-kso-3215/" target="_blank">АТОЛ&nbsp;КСО&nbsp;3215</a></h4>
                            <p>Продумана до мелочей!</p>
                            <p class="product__info">диагональ 21,5”</p>
                            <p class="product__price">от 130 000 руб.</p>
                        </div>
                        <div class="product__media">
                            <img src="img/3215.jpg" alt="">
                        </div>
                        <div class="product__label">
                            <img src="img/compatible.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card product hover-scale">
                        <div class="product__content">
                            <h4 class="product__title"><a href="https://www.atol.ru/catalog/atol-kso-3245/" target="_blank">АТОЛ&nbsp;КСО&nbsp;3245</a></h4>
                            <p>Удобное обслуживание!</p>
                            <p class="product__info">диагональ 24”</p>
                            <p class="product__price">от 140 000 руб.</p>
                        </div>
                        <div class="product__media">
                            <img src="img/3245-1.jpg" alt="">
                        </div>
                        <div class="product__label">
                            <img src="img/compatible.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>