<section id="catalog">
    <div class="container">
        <div class="section-header">
            <div>
                <h3>Подберите решение под свой тип бизнеса</h3>
                <p>От маленькой точки до федерального ритейла</p>
            </div>
            <div class="section-header__tag">Варианты КСО АТОЛ</div>
        </div>

        <div class="swiper-navigation">
            <div class="swiper-button-prev catalog-button-prev"></div>
            <div class="swiper-button-next catalog-button-next"></div>
        </div>

        <div class="swiper flex-swiper catalog-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card product hover-scale">
                        <div class="product__content">
                            <h4 class="product__title">АТОЛ КСО 3210</h4>
                            <p>Компактная и эргономичная</p>
                            <p class="product__info">диагональ 21,5”</p>
                            <p class="product__price">130 000 руб.</p>
                            <p><a href="https://www.atol.ru/catalog/atol-kso-3210/" target="_blank" class="btn btn--160 btn--red">Купить</a></p>
                            <p><a href="#product-3210" class="btn btn--160 js-modal" data-class="tingle-product">Подробнее</a></p>
                        </div>
                        <div class="product__media">
                            <img src="img/image_34.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card product hover-scale product--4210">
                        <div class="product__content">
                            <h4 class="product__title">АТОЛ КСО 4210</h4>
                            <p>Продвинутый уровень</p>
                            <p class="product__info">диагональ 21,5”</p>
                            <p class="product__price">189 000 руб.</p>
                            <p><a href="https://www.atol.ru/catalog/atol-kso-4210/" target="_blank" class="btn btn--160 btn--red">Купить</a></p>
                            <p><a href="#product-4210" class="btn btn--160 js-modal" data-class="tingle-product">Подробнее</a></p>
                        </div>
                        <div class="product__media">
                            <img src="img/image_34-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card product hover-scale">
                        <div class="product__content">
                            <h4 class="product__title">АТОЛ КСО 4271</h4>
                            <p>Для любого масштаба</p>
                            <p class="product__info">диагональ 27”</p>
                            <p class="product__price">271 000 руб.</p>
                            <p><a href="https://www.atol.ru/catalog/atol-kso-4271/" target="_blank" class="btn btn--160 btn--red">Купить</a></p>
                            <p><a href="#product-4271" class="btn btn--160 js-modal" data-class="tingle-product">Подробнее</a></p>
                        </div>
                        <div class="product__media">
                            <img src="img/image_34-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 d-flex">
                <div class="action-item action-item--bg-dark hover-up">
                    <div class="action-item__content">
                        <p class="h3">ПО для касс самообслуживания АТОЛ Frontol&nbsp;Selfie — БЕСПЛАТНО*</p>
                        <p><a class="btn btn--outline js-modal" href="#isc" role="button">Подробнее</a></p>
                        <p class="mt-a"><small>* При покупке КСО АТОЛ, на первый год работы, со второго года — тарификация по прайс-листу</small></p>
                    </div>
                    <div class="action-item__media">
                        <img src="img/DSC_1573_01_4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6 d-flex">
                <div class="action-item action-item--bg-light hover-up">
                    <div class="action-item__content">
                        <hr />
                        <p class="h3 fw-800">Акция:</p>
                        <p class="h3 fw-800">ПО Frontol Selfie БЕСПЛАТНО на год в комплекте с&nbsp;КСО&nbsp;АТОЛ</p>
                    </div>
                    <div class="action-item__media">
                        <img src="img/DSC_5601_03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>