<section id="catalog">
    <div class="container">
        <div class="section-header">
            <div>
                <h3>Подберите решение под свой тип бизнесаВарианты КСО АТОЛ</h3>
                <p>От маленькой точки до федерального ритейла</p>
            </div>
            <div class="section-header__tag">Варианты КСО АТОЛ</div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card card--hover-scale">
                    <div class="product">
                        <h4 class="product__title">АТОЛ КСО 3210</h4>
                        <p>Компактная и эргономичная</p>
                        <p class="product__info">диагональ 21,5”</p>
                        <p class="product__price">130 000 руб.</p>
                        <a href="#" class="btn btn--red">Купить</a>
                        <a href="#" class="btn">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card card--hover-scale">
                    <div class="product">
                        <h4 class="product__title">АТОЛ КСО 4210</h4>
                        <p>Продвинутый уровень</p>
                        <p class="product__info">диагональ 21,5”</p>
                        <p class="product__price">189 000 руб.</p>
                        <a href="#" class="btn btn--red">Купить</a>
                        <a href="#" class="btn">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card card--hover-scale">
                    <div class="product">
                        <h4 class="product__title">АТОЛ КСО 4271</h4>
                        <p>Для любого масштаба</p>
                        <p class="product__info">диагональ 27”</p>
                        <p class="product__price">271 000 руб.</p>
                        <a href="#" class="btn btn--red">Купить</a>
                        <a href="#" class="btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card card--hover-up">
                    <p>ПО для касс самообслуживания АТОЛ Frontol&nbsp;Selfie — БЕСПЛАТНО*</p>
                    <a href="#frontol" class="btn" role="button">Подробнее</a>
                    <p>* При покупке КСО АТОЛ, на первый год работы, со второго года — тарификация по прайс-листу</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card card--hover-up">
                    <p>Акция:</p>
                    <p>ПО Frontol Selfie БЕСПЛАТНО на год в комплекте с&nbsp;КСО&nbsp;АТОЛ</p>
                </div>
            </div>
        </div>

    </div>
</section>