<section>
    <div class="container">
        <div class="row middle-xs">
            <div class="col-xs-12 col-md-7 col-lg-8">
                <img class="chart-img" src="img/chart.svg" alt="">
            </div>
            
            <div class="col-xs-12 col-md-5 col-lg-4">
                <table>
                    <tbody><tr>
                        <th>&nbsp;</th>
                        <th>Причина</th>
                        <th>% краж</th>
                    </tr>
                    <tr>
                        <td><div class="chart-rect"></div></td>
                        <td>Ошибки бухгалтерии</td>
                        <td>4%</td>
                    </tr>
                    <tr>
                        <td><div class="chart-rect chart-rect--2"></div></td>
                        <td>Поврежденные товары</td>
                        <td>4%</td>
                    </tr>
                    <tr>
                        <td><div class="chart-rect chart-rect--3"></div></td>
                        <td>Неправильные цены</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td><div class="chart-rect chart-rect--4"></div></td>
                        <td>При получении товара</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td><div class="chart-rect chart-rect--5"></div></td>
                        <td>Кражи покупателями</td>
                        <td>21%</td>
                    </tr>
                    <tr>
                        <td><div class="chart-rect chart-rect--6"></div></td>
                        <td>Кражи персонала</td>
                        <td>56%</td>
                    </tr>
                </tbody></table>
            </div>
        </div>
    </div>
</section>