<section class="section-consultation bg-atol theme-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h3>Остались вопросы?</h3>
                <p>Не тратьте время на поиск ответов. Оставьте ваши контакты, и наш специалист свяжется с вами и проконсультирает</p>
                <p><button class="btn btn--red js-open-form" type="button">Получить консультацию</button></p>
            </div>
        </div>
    </div>
</section>