<section>
    <div class="container">
        <div class="row middle-md">
            
            <div class="col-md-6 col-lg-4">
                <p>Для современного ритейла любого масштаба</p>
                <h1>Создайте остров самообслуживания без лишних затрат</h1>
                <a class="btn btn--red" href="#consultation" role="button">ОСТАВИТЬ ЗАЯВКУ</a>
            </div>
            
            <div class="col-md-6 col-lg-offset-2">
                <div>
                    <img src="img/DSC_5149_01_1_1.png" alt="">
                    <img class="d-none" src="img/DSC_5332_02_1_1.png" alt="">
        
                    <div>Мощный процессор и оперативная память DDR4 от 4ГБ</div>
                    <div>Доступ к управляющим элементам с передней панели — обслуживание на месте без забора оборудования</div>
                    <div>Антивандальное исполнение Толщина стали корпуса — 1,2 мм. Закаленное стекло устойчиво к царапинам</div>
        
                    <div>Скорость</div>
                    <div>Контроль</div>
                    <div>Удобство</div>
                </div>
            </div>
        </div>
    </div>
</section>