<section class="section-hero">
    <div class="container">
        <div class="row middle-md">
            
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="flex-line">
                    <img src="img/Group_4342.svg" alt="" />
                    <p>Для современного ритейла <br />любого масштаба</p>
                </div>

                <hr />
                
                <h1>Создайте остров самообслуживания без лишних затрат</h1>
                <p class="mb-20"><button class="btn btn--red btn--lg js-open-form" type="button">ОСТАВИТЬ ЗАЯВКУ</button></p>
            </div>
            
            <div class="col-xs-12 col-md-6 col-lg-offset-2">
                <div class="device-advantages">
                    <div class="device-advantages__media">
                        <img src="img/DSC_5332_02_1_1.png" alt="">
                    </div>
                    <div class="device-advantages__media">
                        <img src="img/DSC_5149_01_1_1.png" alt="">
                    </div>
        
                    <div class="device-advantages__point pos-1"></div>
                    <div class="device-advantages__info pos-1">
                        <p>Мощный процессор и оперативная память DDR4 от 4ГБ</p>
                    </div>

                    <div class="device-advantages__point pos-2"></div>
                    <div class="device-advantages__info pos-2">
                        <p><img src="img/photo.png" alt=""> Доступ к управляющим элементам с передней панели — обслуживание на месте без забора оборудования</p>
                    </div>

                    <div class="device-advantages__point pos-3"></div>
                    <div class="device-advantages__info pos-3">
                        <p>Антивандальное исполнение Толщина стали корпуса — 1,2 мм. Закаленное стекло устойчиво к царапинам</p>
                    </div>
        
                    <div class="device-advantages__badges">
                        <span class="badge badge--white">Скорость</span>
                        <span class="badge badge--white">Контроль</span>
                        <span class="badge badge--white">Удобство</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>