<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <h3>Остров самообслуживания из&nbsp;6&nbsp;КСО заменяет <span class="color-red">2&nbsp;кассовых узла</span></h3>
                <div class="price-list-floated show-lg">
                    <div class="row">
                        <div class="col-lg-4">
                                <div class="price-list__label">Количество</div>
                                <div class="price-list__label">Затраты на ФОТ (год)</div>
                                <div class="price-list__label">Затраты на оборудование +&nbsp;ТО</div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-ghost text-center">
                                <div class="price-list__value">6 КСО</div>
                                <div class="price-list__value">0 руб.</div>
                                <div class="price-list__value">1 635 000 руб.</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-ghost text-center">
                                <div class="price-list__value">2 кассира</div>
                                <div class="price-list__value">1 446 000 руб.</div>
                                <div class="price-list__value">247 000 руб.</div>
                            </div>
                        </div>
                    </div>

                    <div class="price-list__result-line">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-ghost">Итого (1-й год)</div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-ghost text-center">1 635 000 руб. <sup class="badge badge--black badge--circle" data-tooltip="Со второго года эксплуатации при покупке ПО Frontol Selfie для самообслуживания">i</sup></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-ghost text-center">1 693 000 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="price-list__result-line">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-ghost">Итого (со 2-го года)</div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-ghost text-center">150 000 руб.</div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-ghost text-center">1 456 000 руб.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="card card--md-padding text-center">
                    <div class="price-list__label price-list__label--hoverable">Остров самообслуживания</div>
                    <div class="price-list__img-group">
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                    </div>
                    
                    <div class="price-list__ghost"></div>
                    <div class="hide-lg">
                        <div class="price-list__label">Количество</div>
                        <div class="price-list__value">6 КСО</div>
                        <div class="price-list__label">Затраты на ФОТ (год)</div>
                        <div class="price-list__value">0 руб.</div>
                        <div class="price-list__label">Затраты на оборудование +&nbsp;ТО</div>
                        <div class="price-list__value">1 635 000 руб.</div>
                        <div class="price-list__label">Итого (1-й год)</div>
                        <div class="price-list__result">1 635 000 руб. <sup class="badge badge--black badge--circle" data-tooltip="Со второго года эксплуатации при покупке ПО Frontol Selfie для самообслуживания">i</sup></div>
                        <div class="price-list__label">Итого (со 2-го года)</div>
                        <div class="price-list__result">150 000 руб.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="card card--md-padding text-center">
                    <div class="price-list__label price-list__label--hoverable">Традиционная касса</div>
                    <div class="price-list__img-group price-list__img-group--2">
                        <span></span>
                        <img src="img/Group.svg" alt="">
                        <img src="img/Group.svg" alt="">
                        <span></span>
                    </div>
                    <div class="price-list__ghost"></div>
                    <div class="hide-lg">
                        <div class="price-list__label">Количество</div>
                        <div class="price-list__value">2 кассира</div>
                        <div class="price-list__label">Затраты на ФОТ (год)</div>
                        <div class="price-list__value">1 446 000 руб.</div>
                        <div class="price-list__label">Затраты на оборудование +&nbsp;ТО</div>
                        <div class="price-list__value">247 000 руб.</div>
                        <div class="price-list__label">Итого (1-й год)</div>
                        <div class="price-list__result">1 693 000 руб.</div>
                        <div class="price-list__label">Итого (со 2-го года)</div>
                        <div class="price-list__result">1 456 000 руб.</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>