<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <h3>Остров самообслуживания из 6 КСО заменяет <span class="color-red">2 кассовых узла</span></h3>
                <div class="badge">Количество</div>
                <div class="badge">Затраты на ФОТ (год)</div>
                <div class="badge">Затраты на оборудование + ТО</div>
                <div class="badge">Итого (1-й год)</div>
                <div class="badge">Итого (со 2-го года)</div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <div class="badge">Остров самообслуживания</div>
                    <div>
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                        <img src="img/Group_4335.svg" alt="">
                    </div>
                    <div class="badge">6 КСО</div>
                    <div class="badge">0 руб.</div>
                    <div class="badge">1 635 000 руб.</div>
                    <div class="badge">1 635 000 руб.</div>
                    <div class="badge">150 000 руб.</div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <div class="badge">Традиционная касса</div>
                    <div>
                        <img src="img/Group.svg" alt="">
                        <img src="img/Group.svg" alt="">
                    </div>
                    <div class="badge">2 кассира</div>
                    <div class="badge">1 446 000 руб.</div>
                    <div class="badge">247 000 руб.</div>
                    <div class="badge">1 693 000 руб.</div>
                    <div class="badge">1 456 000 руб.</div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>