<section>
    <div class="container">
        <div class="section-header">
            <div>
                <h3>Как обеспечить безопасность <br />острова самообслуживания</h3>
            </div>
            <div class="section-header__tag">Безопасность КСО</div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card card--hover-up">
                    <h4>Остров под&nbsp;контролем</h4>
                    <p>Расположение острова в зоне видимости камер и присутствие ассистента в зоне продаж уменьшает риск кражи товаров</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card card--hover-up">
                    <h4>Непривлекательно для краж</h4>
                    <p>По словам экспертов, в зоне самообслуживания происходит минимальное количество краж</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card card--hover-up">
                    <h4>Крадут не в зоне самообслуживания</h4>
                    <p>Согласно статистике большинство краж совершают работники магазинов</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card card--hover-up">
                    <h4>Плюсы перевешивают минусы</h4>
                    <p>Процент потерь магазина из-за краж не сравним с выгодами от роста трафика и увеличения товарооборота</p>
                </div>
            </div>
        </div>
    </div>
</section>