<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card card--hover-up">
                    <p class="h2">6 мес.</p>
                    <p>срок окупаемости КСО для небольшого магазина</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card--hover-up">
                    <p class="h2">1 кассир</p>
                    <p>может обслуживать магазин даже в пиковые часы. Нет нужды в доп. кассовом узле</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card--hover-up">
                    <p class="h2">&gt;70 000</p>
                    <p>рублей дополнительной экономии на затратах в месяц</p>
                </div>
            </div>
        </div>
    </div>
</section>