<section class="bg-alpha">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
                <div class="card card--big-padding hover-up">
                    <div class="card__icon">
                        <img src="img/Group_4339.svg" alt="">
                    </div>
                    <p class="h2">До 70%</p>
                    <p>покупательского трафика может проходить через КСО в пиковые дни</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
                <div class="card card--big-padding hover-up">
                    <div class="card__icon">
                        <img src="img/Group_4344.svg" alt="">
                    </div>
                    <p class="h2">&gt;60%</p>
                    <p>покупателей предпочтет оплатить товары на кассе самообслуживания</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
                <div class="card card--big-padding hover-up">
                    <div class="card__icon">
                        <img src="img/Group_4345.svg" alt="">
                    </div>
                    <p class="h2">&gt;80%</p>
                    <p>покупателей с корзинами оплачивает товары на кассе самообслуживани</p>
                </div>
            </div>
        </div>
    </div>
</section>