<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card card--hover-up">
                    <p class="h2">До 70%</p>
                    <p>покупательского трафика может проходить через КСО в пиковые дни</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card--hover-up">
                    <p class="h2">&gt;60%</p>
                    <p>покупателей предпочтет оплатить товары на кассе самообслуживания</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card card--hover-up">
                    <p class="h2">&gt;80%</p>
                    <p>покупателей с корзинами оплачивает товары на кассе самообслуживани</p>
                </div>
            </div>
        </div>
    </div>
</section>