<section class="bg-alpha">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
                <div class="card card--big-padding hover-up">
                    <div class="card__icon">
                        <img src="img/Group_4347.svg" alt="">
                    </div>
                    <p class="h2">6 месяцев</p>
                    <p>срок окупаемости КСО для небольшого магазина</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
                <div class="card card--big-padding hover-up">
                    <div class="card__icon">
                        <img src="img/Group_4351.svg" alt="">
                    </div>
                    <p class="h2">1 кассир</p>
                    <p>может обслуживать магазин даже в пиковые часы. Нет нужды в доп. кассовом узле</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 d-flex">
                <div class="card card--big-padding hover-up">
                    <div class="card__icon">
                        <img src="img/Group_4349.svg" alt="">
                    </div>
                    <p class="h2">&gt;70 000</p>
                    <p>рублей дополнительной экономии на затратах в месяц</p>
                </div>
            </div>
        </div>
    </div>
</section>