<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <p class="mb-20">
                    <a href="https://www.atol.ru/catalog/kassy-samoobsluzhivaniya/" target="_blank">
                        <img src="img/atol.svg" alt="АТОЛ">
                    </a>
                </p>
                <p>
                    <a href="https://atol.ru/upload/agreement_files/politika_personalnye_dannye_atol.pdf"
                        target="_blank">
                        <small>Политика обработки персональных данных</small>
                    </a>
                </p>
                <p class="color-gray">
                    <small>Все права защищены &copy; 2001–2023 АТОЛ</small>
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <ul class="menu">
                    <li><a href="#catalog">Каталог</a></li>
                    <li><a href="#business">Масштаб бизнеса</a></li>
                    <li><a href="#about">О КСО</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h5>Контакты:</h5>
                <ul>
                    <li><a href="tel:74957237420">+7 495 723-74-20</a></li>
                    <li><a href="https://www.atol.ru/">www.atol.ru</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>