<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <p><a href="https://www.atol.ru/catalog/kassy-samoobsluzhivaniya/" target="_blank"><img
                            src="img/atol.svg" alt="АТОЛ"></a></p>
                <p><a href="https://atol.ru/upload/agreement_files/politika_personalnye_dannye_atol.pdf"
                        target="_blank">Политика обработки персональных данных</a></p>
                <p>Все права защищены &copy; 2001–2023 АТОЛ</p>
            </div>
            <div class="col-sm-12 col-lg-4">
                <ul>
                    <li><a href="#catalog">Каталог</a></li>
                    <li><a href="#business">Масштаб бизнеса</a></li>
                    <li><a href="#about">О КСО</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-4">
                <h6>Контакты:</h6>
                <ul>
                    <li><a href="tel:74957237420">+7 495 723-74-20</a></li>
                    <li><a href="https://www.atol.ru/">www.atol.ru</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>