<header class="header">
    <div class="container">
        <div class="flex-line">
            <a href="https://www.atol.ru/catalog/kassy-samoobsluzhivaniya/" target="_blank"><img
                src="img/atol.svg" alt="АТОЛ"></a>
            <a class="ms-a text-nowrap" href="tel:74957237420">+7 495 723-74-20</a>
            <button class="btn show-md js-open-form" type="button">Получить консультацию</button>
        </div>
        
    </div>
</header>