<template id="isc">
    <div class="row">
        <div class="col-xs-12 col-lg-6 bg-dark theme-dark">
            <div class="frontol-banner">
                <p class="text-right mb-50"><img src="img/Group_4216.svg" alt="АТОЛ"></p>

                <div class="frontol-banner__grid">
                    <h3>Frontol&nbsp;Selfie&nbsp;&ndash; <br />БЕСПЛАТНО*</h3>
                    <a class="btn btn--red" href="https://drive.google.com/uc?export=download&confirm=no_antivirus&id=1X760_fGyyl5nw41WxDp3-P-A5H-rMsBe" target="_blank">СКАЧАТЬ ПРАЙС</a>
                    <p><small>* При покупке КСО АТОЛ, <br />на первый год работы, <br />со второго года — тарификация <br />по прайс-листу</small></p>
                    <img class="frontol-banner__img" src="img/image_41.png" alt="АТОЛ">
                </div>
            </div>
            
        </div>
        <div class="col-xs-12 col-lg-6 first-lg">
            <div class="tingle-popup__content">
                <h3>ICS для КСО АТОЛ</h3>
                <div class="icon-box">
                    <img src="img/Group_4352.svg" alt="">
                    <p>Гибридная работа <br /><small>(например, подтверждение возраста кассиром)</small></p>
                </div>
                <div class="icon-box">
                    <img src="img/Group_4358.svg" alt="">
                    <p>Демонстрация рекламы</p>
                </div>
                <div class="icon-box">
                    <img src="img/Group_4361.svg" alt="">
                    <p>Продажа маркированного товара</p>
                </div>
                <div class="icon-box">
                    <img src="img/Group_4363.svg" alt="">
                    <p>Аналитика использования</p>
                </div>
                <div class="icon-box">
                    <img src="img/Group_4354.svg" alt="">
                    <p>Работа на базе ОС Windows</p>
                </div>
            </div>
        </div>
    </div>
</template>