footer {
    background-color: var(--color-bg);
    padding: 80px 0;

    p:not(:last-child) {
        margin-bottom: 10px;
    }

    ul {
        li + li {
            margin-top: 15px;
        }
    }

    .menu {
        a {
            color: inherit;
        }
    }
}